.tableContainer{
  margin-bottom: 2rem;
}
table {
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.expanded-row {
  background-color: #f7f7f7;
}

.mat-expansion-panel {
  margin-bottom: 8px;
}

.mat-column-chapters {
  min-width: 200px;
}

.chapters-list {
  padding-left: 2rem; 
}

.chapters-list li {
  margin-bottom: 2rem; 
}

.chapters-list li::before {
  content: "•"; 
  margin-right: 8px; 
}

