<link
  href="
https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="dialog-box">
  <mat-dialog-actions class="dialogAction">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </mat-dialog-actions>
  <h1>Process Form</h1>
  <div mat-dialog-content>
    <form [formGroup]="processForm" (ngSubmit)="submitLead()">
      <div class="row">
        <!-- First Name -->
        <mat-form-field appearance="outline" class="input">
          <mat-label>Process Name</mat-label>
          <input
            matInput
            placeholder="Hooper"
            required
            formControlName="clientProcessName"
          />
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field appearance="outline" class="input">
          <mat-label>Language</mat-label>
          <input
            matInput
            placeholder="Language"
            required
            formControlName="clientProcessLanguage"
          />
        </mat-form-field>
      </div>

      <!-- clientprocesspoc -->

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Candidate required</mat-label>
          <input
            matInput
            placeholder="100"
            required
            formControlName="clientProcessCandReq"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Process Deadline</mat-label>
          <input
            matInput
            placeholder="MM/DD/YYY"
            [matDatepicker]="deadlinePicker"
            formControlName="clientProcessDeadline"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="deadlinePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #deadlinePicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline" class="input">
          <mat-label>Package (in LPA)</mat-label>
          <input
            matInput
            placeholder="10"
            required
            formControlName="clientProcessPckg"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="input">
          <mat-label>Job Location</mat-label>
          <input
            matInput
            placeholder="Pune"
            required
            formControlName="clientProcessLocation"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <!-- domain -->
        <mat-form-field appearance="outline" class="input">
          <mat-label>Joining Date</mat-label>
          <input
            matInput
            placeholder="MM/DD/YYY"
            [matDatepicker]="joiningPicker"
            formControlName="clientProcessJoining"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="joiningPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #joiningPicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>

        <!-- current location -->
        <mat-form-field appearance="outline" class="input">
          <mat-label>Perks</mat-label>
          <input
            matInput
            placeholder="50K joining bonus"
            required
            formControlName="clientProcessPerks"
          />
        </mat-form-field>
      </div>

      <div class="row">
        <!-- preferred location -->
        <mat-form-field appearance="outline" class="input">
          <mat-label>Job Description</mat-label>
          <input
            matInput
            placeholder="Developer"
            required
            formControlName="clientProcessJobDesc"
          />
        </mat-form-field>
      </div>

      <div formArrayName="clientProcessPoc">
        <h2>Point of contact</h2>
        <div *ngFor="let poc of clientProcessPoc.controls; let i = index">
          <div [formGroupName]="i">
            <div class="row">
              <!-- POC Name -->
              <mat-form-field appearance="outline" class="input">
                <mat-label>Poc Name</mat-label>
                <input matInput formControlName="clientProcessPocName" />
              </mat-form-field>

              <!-- POC Designation -->
              <mat-form-field appearance="outline" class="input">
                <mat-label>POC Designation</mat-label>
                <input matInput formControlName="clientProcessPocDesg" />
              </mat-form-field>
            </div>

            <div class="row">
              <!-- POC Phone Number -->
              <mat-form-field appearance="outline" class="input">
                <mat-label>POC Phone Number</mat-label>
                <input matInput formControlName="clientProcessPocNumber" />
              </mat-form-field>

              <!-- POC Email -->
              <mat-form-field appearance="outline" class="input">
                <mat-label>POC Email</mat-label>
                <input matInput formControlName="clientProcessPocEmail" />
              </mat-form-field>
            </div>

            <div class="row">
              <!-- POC LinkedIn -->
              <mat-form-field appearance="outline" class="input">
                <mat-label>POC LinkedIn</mat-label>
                <input matInput formControlName="clientProcessPocLinkedin" />
              </mat-form-field>
              <button mat-icon-button color="warn" (click)="removePoc(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <hr />
          </div>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="addPoc()"
          style="margin: 1rem 0rem"
        >
          Add POC
        </button>
      </div>

      <!-- action -->
      <div mat-dialog-actions class="action" style="margin-top: 1rem;">
        <button mat-raised-button type="button" [mat-dialog-close]="false">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ data._id ? "Update" : "Create" }}
        </button>
      </div>
    </form>
  </div>
</div>
