<h1>Settings</h1>
<div class="container">
  <div class="employee-info">
    <div class="info-item">
      <div class="info-label">Name:</div>
      <div class="info-value">{{this.userRole}}</div>
    </div>
    <!-- <div class="info-item">
      <div class="info-label">Email ID:</div>
      <div class="info-value">{{employeeEmail}}</div>
    </div> -->
    <div class="info-item">
      <div class="info-label">Role:</div>
      <div class="info-value">{{this.userRole}}</div>
    </div>
  </div>
  <button class="button" (click)="logout()">
    <span class="button-content">Logout</span>
  </button>
</div>


