<!-- filtered data div -->
<div class="card topp" >
    <div class="card-head">
      <h1 style="font-weight: bold">TODAY'S  TASK</h1>
    </div>
    <div class="card-body">
      <div class="filterSearchBar">
        <button style="background: #02465b; color: white; padding: 10px; margin-bottom: 1rem;" mat-raised-button
        (click)="openFilterDiv()">
        FILTERS
      </button>
        <!-- <button style="background: #02465b; color: white; padding: 10px; margin-bottom: 1rem;" mat-raised-button
            (click)="openAddEditEmpForm()">
            ADD INTERESTED CANDIDATE
          </button> -->
      </div>
  
      <div class="filters" *ngIf="openFilters">
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Languages</mat-label>
          <mat-select [(value)]="selectedLanguage" (selectionChange)="applyDropdownFilter($event.value, 'language')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let language of languages" [value]="language">{{ language }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Proficiency</mat-label>
          <mat-select [(value)]="selectedproficiencyLevel" (selectionChange)="applyDropdownFilter($event.value, 'proficiencyLevel')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let proficiencyLevel of proficiencyLevels" [value]="proficiencyLevel">{{ proficiencyLevel }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Job Status</mat-label>
          <mat-select [(value)]="selectedJobStatus"  (selectionChange)="applyDropdownFilter($event.value, 'jbStatus')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let status of jobStatuses" [value]="status">{{ status }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Qualification</mat-label>
          <mat-select [(value)]="selectedQualification" (selectionChange)="applyDropdownFilter($event.value, 'qualification')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let qualification of qualifications" [value]="qualification">{{ qualification
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Mode</mat-label>
          <mat-select [(value)]="selectedmode" (selectionChange)="applyDropdownFilter($event.value, 'wfh')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let mode of modes" [value]="mode">{{ mode
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Feedback</mat-label>
          <mat-select [(value)]="selectedfeedback" (selectionChange)="applyDropdownFilter($event.value, 'feedback')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let feedback of feedbacks" [value]="feedback">{{ feedback
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Notice Period</mat-label>
          <mat-select [(value)]="selectednoticePeriod" (selectionChange)="applyDropdownFilter($event.value, 'noticePeriod')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let noticePeriod of noticePeriods" [value]="noticePeriod">{{ noticePeriod
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Source</mat-label>
          <mat-select [(value)]="selectedsource" (selectionChange)="applyDropdownFilter($event.value, 'source')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let source of sources" [value]="source">{{ source
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="filterDropDown">
          <mat-label>Experience</mat-label>
          <mat-select [(value)]="selectedexp" (selectionChange)="applyDropdownFilter($event.value, 'exp')">
            <mat-option [value]="null">None</mat-option>
            <mat-option *ngFor="let exp of exps" [value]="exp">{{ exp
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button style="background: #02465b;color: white;" (click)="clearFilters()" class="filterDropDown">Clear Filters</button>
      </div>
  
  
      <div class="table-container" style="overflow-x: auto; overflow-y: auto; max-height: 450px">
        <table mat-table [dataSource]="dataSource" matSort>
  
          <ng-container matColumnDef="SrNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header
              style="background: #02465b;color: white; min-width: fit-content">
              SrNo
            </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Name
            </th>
            <td mat-cell *matCellDef="let lead" >{{ lead.name }}</td>
          </ng-container>
  
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Email
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.email }}</td>
          </ng-container>
  
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Phone
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.phone }}</td>
          </ng-container>
  
          <ng-container matColumnDef="lType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Language Type
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.lType }}</td>
          </ng-container>
  
          <ng-container matColumnDef="language">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Language
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.language }}</td>
          </ng-container>
  
          <ng-container matColumnDef="proficiencyLevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Proficiency Level
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.proficiencyLevel }}</td>
          </ng-container>
  
          <ng-container matColumnDef="jbStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Job Status
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.jbStatus }}</td>
          </ng-container>
  
          <ng-container matColumnDef="qualification">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Qualification
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.qualification }}</td>
          </ng-container>
  
          <ng-container matColumnDef="industry">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Industry
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.industry }}</td>
          </ng-container>
  
          <ng-container matColumnDef="domain">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Profile
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.domain }}</td>
          </ng-container>
  
          <ng-container matColumnDef="exp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Experience
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.exp }}</td>
          </ng-container>
  
          <ng-container matColumnDef="cLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Current Location
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.cLocation }}</td>
          </ng-container>
  
          <ng-container matColumnDef="pLocation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Preferred Location
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.pLocation }}</td>
          </ng-container>
  
          <ng-container matColumnDef="currentCTC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Current CTC (in Lakhs)
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.currentCTC }}</td>
          </ng-container>
  
          <ng-container matColumnDef="expectedCTC">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Expected CTC (in Lakhs)
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.expectedCTC }}</td>
          </ng-container>
  
          <ng-container matColumnDef="noticePeriod">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Notice Period (in days)
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.noticePeriod }}</td>
          </ng-container>
  
          <ng-container matColumnDef="wfh">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Mode
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.wfh }}</td>
          </ng-container>
  
          <ng-container matColumnDef="resumeLink">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Resume
            </th>
            <td mat-cell *matCellDef="let lead">
              <a [href]="lead.resumeLink" target="_blank">{{lead.name}}_resume</a>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="linkedinLink">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              LinkedIn Profile
            </th>
            <td mat-cell *matCellDef="let lead">
              <a [href]="lead.linkedinLink" target="_blank">Profile</a>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="feedback">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Feedback
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.feedback }}</td>
          </ng-container>
  
          <ng-container matColumnDef="remark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Remark
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.remark }}</td>
          </ng-container>
  
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Organisation
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.company }}</td>
          </ng-container>
  
          <ng-container matColumnDef="voiceNonVoice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b; color: white;">Voice/Non-
              voice
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.voiceNonVoice }}</td>
          </ng-container>
  
          <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Source
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.source }}</td>
          </ng-container>

          <ng-container matColumnDef="assignedProcess">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Process Name
            </th>
            <td mat-cell *matCellDef="let lead">{{ lead.assignedProcess }}</td>
          </ng-container>
  
          <ng-container matColumnDef="interested">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b;color: white;">
              Interested
            </th>
            <td mat-cell *matCellDef="let lead">
              <mat-icon 
                [ngClass]="{'selected': lead.interested === 'interested'}"
                (click)="lead.interested !== 'interested' && updateInterestedStatus(lead, 'interested')"
                [ngStyle]="{'cursor': lead.interested === 'interested' ? 'default' : 'pointer', 'color': 'green'}"
                [attr.disabled]="lead.interested === 'interested' ? true : null">
                check
              </mat-icon>
              <mat-icon 
                [ngClass]="{'selected': lead.interested === 'not interested'}"
                (click)="updateInterestedStatus(lead, 'not interested')"
                [ngStyle]="{'cursor': lead.interested === 'not interested' ? 'default' : 'pointer', 'color': 'red'}">
                close
              </mat-icon>
            </td>
          </ng-container>
  
  
          <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="background: #02465b; color: white;">
                    Action
                  </th>
                  <td mat-cell *matCellDef="let lead">
                    <button mat-icon-button color="primary" (click)="openEditForm(lead)">
                      <mat-icon>edit</mat-icon>
                    </button>
        
                  </td>
                </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              OOOPs, No Data Found
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  