.dialog-box {
  text-align: center;
}
.container-box {
  padding-top: 3rem;
}

.dialogAction{
  display: flex;
  align-items: right;
  justify-content: right;
  text-align: right;
}

h1 {
  margin: 1rem 0 0;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.card {
  z-index: 2;
  border: 1px solid black;
  /* width: 80%; */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 10rem 5rem;
  padding: 2rem 0rem 2rem;
  text-decoration: wavy;

  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 4px #507577;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
  border: 1px solid rgba(255, 255, 255, 0.65);
}

.mat-mdc-form-field {
  margin-top: 1rem;
  min-width: 90%;
}
.submitbtn:hover {
  background-color: rgb(28, 103, 150);
}
.action {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.editor {
  margin-top: 2rem;
  min-width: 90%;
}


/* UI */
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.input{
  min-width: 47%;

}

.full{
  width: 73.5vw;
  margin: 1rem;
  margin-bottom: -0.1rem;
}