<link
href=
"
https://fonts.googleapis.com/icon?family=Material+Icons"
rel=
"stylesheet"
>

<div class="dialog-box">
  <div mat-dialog-title>
    <h1>Curiotory Blog Form</h1>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="blogForm" (ngSubmit)="submitBlogs()">
      <!-- title -->
      <mat-form-field appearance="outline">
        <mat-label>Blog Title</mat-label>
        <input
          matInput
          placeholder="Foreign languages and globalisation.."
          required
          formControlName="title"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label appearance="outline">Introduction </mat-label>
        <textarea
          required
          rows="2"
          matInput
          placeholder="Content goes here..."
          formControlName="intro"
        ></textarea>
      </mat-form-field>

      <!-- paragraph 1 -->
      <!-- <mat-form-field appearance="outline" class="example-full-width">
    <mat-label appearance="outline">Paragraph 1</mat-label>
    <textarea required rows="2" matInput placeholder="Content goes here...." formControlName="content"></textarea>
  </mat-form-field> -->
      <angular-editor
        placeholder="Content goes here...."
        formControlName="content"
        class="editor"
      >
      </angular-editor>

      <!-- Image url 1 -->
      <mat-form-field appearance="outline">
        <mat-label>First Image Url</mat-label>
        <input
          matInput
          placeholder="https://image.com"
          required
          formControlName="imageUrl"
        />
      </mat-form-field>

      <!-- Image Url 2 -->
      <mat-form-field appearance="outline" style="margin-bottom: 2rem">
        <mat-label>Second Image Url</mat-label>
        <input
          matInput
          placeholder="https://image.com"
          formControlName="imageUrl2"
        />
      </mat-form-field>

      <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">
          Cancel
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ data ? "Update" : "Save" }}
        </button>
      </div>
    </form>
  </div>
</div>
<!-- <button mat-raised-button (click)="submitBlogs()" class="submitbtn"> Submit</button> -->

