<div style="padding-bottom: 1rem;">
  <h1>LMS Lesson List</h1>
  <div class="dashoard">
    <button mat-raised-button color="primary" (click)="openFormDialog()" style="float: right; margin-bottom: 1rem;">
      Add Lesson
    </button>
    <div class="table-container">
      <table mat-table [dataSource]="lessons" class="mat-elevation-z8">
        <!-- Columns definitions -->

        <ng-container matColumnDef="lessonNumber">
          <th mat-header-cell *matHeaderCellDef> Lesson Number </th>
          <td mat-cell *matCellDef="let element"> {{element.lessonNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="language">
          <th mat-header-cell *matHeaderCellDef> Language </th>
          <td mat-cell *matCellDef="let element"> {{element.language}} </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef> Level </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="lessonTitle">
          <th mat-header-cell *matHeaderCellDef> Lesson Title </th>
          <td mat-cell *matCellDef="let element"> {{element.lessonTitle}} </td>
        </ng-container>

        <ng-container matColumnDef="videos">
          <th mat-header-cell *matHeaderCellDef> Videos Title</th>
          <td mat-cell *matCellDef="let element" style="width: 500px;">
            <ol>
              <li *ngFor="let video of element.videos">{{ video.title }}</li>
            </ol>
          </td>
        </ng-container>

        <ng-container matColumnDef="videosurl">
          <th mat-header-cell *matHeaderCellDef> Videos Url </th>
          <td mat-cell *matCellDef="let element">
            <ol>
              <li *ngFor="let video of element.videos">{{ video.url }}</li>
            </ol>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openFormDialog(true, element)">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [length]="lessons.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    </div>
  </div>
</div>