<!-- form-dialog.component.html -->
<h1 mat-dialog-title>{{ data.isEdit ? 'Edit Lesson' : 'Add Lesson' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="data.form">
    <div class="formUpper">
      <mat-form-field>
        <mat-label>Language</mat-label>
        <mat-select formControlName="language">
          <mat-option value="english">English</mat-option>
          <mat-option value="spanish">Spanish</mat-option>
          <mat-option value="french">French</mat-option>
          <mat-option value="japanese">Japanese</mat-option>
          <mat-option value="korean">Korean</mat-option>
          <mat-option value="german">German</mat-option>
          <mat-option value="mandarin">Mandarin</mat-option>
  
          <!-- Add more options as needed -->
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Level</mat-label>
        <mat-select formControlName="level">
          <mat-option value="A1">A1</mat-option>
          <mat-option value="A2">A2</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Lesson Number</mat-label>
        <!-- <input matInput formControlName="lessonNumber" type="number"> -->
        <mat-select formControlName="lessonNumber">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
          <mat-option value=3>3</mat-option>
          <mat-option value=4>4</mat-option>
          <mat-option value=5>5</mat-option>
          <mat-option value=6>6</mat-option>
          <mat-option value=7>7</mat-option>
          <mat-option value=8>8</mat-option>
          <mat-option value=9>9</mat-option>
          <mat-option value=10>10</mat-option>
          <mat-option value=11>11</mat-option>
          <mat-option value=12>12</mat-option>
          <mat-option value=13>13</mat-option>
          <mat-option value=14>14</mat-option>
          <mat-option value=15>15</mat-option>
          <mat-option value=16>16</mat-option>
          <mat-option value=17>17</mat-option>
          <mat-option value=18>18</mat-option>
          <mat-option value=19>19</mat-option>
          <mat-option value=20>20</mat-option>
          <mat-option value=21>21</mat-option>
          <mat-option value=22>22</mat-option>
          <mat-option value=23>23</mat-option>
          <mat-option value=24>24</mat-option>
          <mat-option value=25>25</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br/>
    <mat-form-field class="lessonTitle">
      <mat-label>Lesson Title</mat-label>
      <input matInput formControlName="lessonTitle">
    </mat-form-field>
    <br />
    <div formArrayName="videos" *ngFor="let video of data.form.controls.videos.controls; let i = index">
      <div [formGroupName]="i" class="videoSection">
        <mat-form-field class="videoTitle">
          <mat-label>Video Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field class="videoUrl">
          <mat-label>Video URL</mat-label>
          <input matInput formControlName="url">
        </mat-form-field>
        <button mat-fab color="accent" type="button" (click)="removeVideo(i)"> <mat-icon>delete</mat-icon></button>
      </div>
    </div>
    <button mat-flat-button color="primary" type="button" (click)="addVideo()" class="addVideoButton">Add Video</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onSubmit()">{{ data.isEdit ? 'Update' : 'Save' }}</button>
  <button mat-raised-button color="accent" (click)="dialogRef.close()">Cancel</button>
</div>
