form{
    text-align: center;
}
.formUpper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.lessonTitle{
    width: 100%;
}
.addVideoButton{
    text-align: left;
    align-items: left;
    
}
.videoSection{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.videoTitle{
    flex: 30%;
    margin-right: 1rem;
}
.videoUrl{
    flex:40%;
    margin-right: 1rem;
}